mat-toolbar {
    background-color: rgba(214, 221, 255, 0.384);
    color: rgba(57, 57, 230, 0.911);
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
}