<div class="full-screen-video-container">
	<video autoplay
		muted
		playsinline
		loop
		onloadedmetadata="this.muted = true"
		id="myVideo">
		<source src="../../assets/x2matecom-Cruise-ship-Timelapse.mp4"
			type="video/mp4">
	</video>

	<div class="timer">
    <p class="countdown-title">
      До големият ден остават само
    </p>

		<span id="days">
			{{daysToWeddingDay}}
		</span>
		Ден(и)
		<span id="hours">
			{{hoursToWeddingDay}}
		</span>
		Часа
		<span id="minutes">
			{{minutesToWeddingDay}}
		</span>
		Минути
		<span id="seconds">
			{{secondsToWeddingDay}}
		</span>
		Секунди
	</div>

  <div class="confirm">
    <a href="https://forms.gle/93rmajHSuePY6F9TA" target="_blank">
      <b>
        Може да потвърди своето присъствие тук
      </b>
    </a>
</div>
