<div class="full-screen-video-container">
	<video 
		autoplay
		playsinline
		muted 
		loop
		oncanplay="this.play()"
		onloadedmetadata="this.muted = false"
		preload="auto"
		id="myVideo"
		width="400"
		controls>
		<source src="../../assets/x2matecom-Cruise-ship-Timelapse.mp4"
			type="video/mp4">
	</video>

	<div class="timer">
		<h2>Скъпи родители, мили роднини, невероятни кумове, вярни приятели сърдечно благодарим че бяхте свидетели на продължението на нашата история. Благодарим Ви, че бяхте до нас в този важен за нас момент. Благодарим за красивите думи, за безценните съвети, за това че плакахте и се смяхте заедно с нас. Благодарим за подкрепата не само в този ден, а в живота. Безкрайно сме щастливи от усмивките, които видяхме по лицата ви и пламъчетата в очите ви, когато ни се радвахте.</h2>
		<!-- <p class="countdown-title">
			До големият ден остават само
		</p>

		<span id="days">
			{{daysToWeddingDay}}
		</span>
		{{daysToWeddingDay > 1 ? 'Дни' : 'Ден'}}
		<span id="hours">
			{{hoursToWeddingDay}}
		</span>
		Часа
		<span id="minutes">
			{{minutesToWeddingDay}}
		</span>
		Минути
		<span id="seconds">
			{{secondsToWeddingDay}}
		</span>
		Секунди -->
	</div>

	<!-- <div class="confirm">
		<a href="https://forms.gle/93rmajHSuePY6F9TA"
			target="_blank">
			<b>
				Може да потвърди своето присъствие тук
			</b>
		</a>
	</div> -->
</div>
