html, body {
  margin: 0;
}

.full-screen-video-container {
  position: relative;
  height: calc(100vh - 2 * 64px);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-screen-video-container video {
  z-index: -1;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-screen-video-content {
  background-color: white;
  color: #333;
  padding: 20px;
  font-size: 70px;
  margin-top: 100px;
  width: 100%;
}

.timer {
  text-align: center;
  margin-top: 200px;
  font-size: 1.4em;
  letter-spacing: -1px;
  color: white;
  padding: 10px;
  vertical-align: middle;
}
.timer span {
  font-size: 2em;
  margin: 0 3px 0 15px;
  line-height: 1em;
}
.confirm {
  margin-top: 60px;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
}

.countdown-title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-bottom: 25px;
}
