<div class="wrapper">
	<video id="sailingVideo"
		autoplay
		muted
		loop>

		<source src="https://mdbootstrap.com/img/video/Sail-Away.mp4"
			type="video/mp4">

	</video>
	<div class="timer">
		<h1>
			<b>
				До големият ден остават само
			</b>
		</h1>
		<span id="days">
			{{daysToWeddingDay}}
		</span>
		Ден(и)
		<span id="hours">
			{{hoursToWeddingDay}}
		</span>
		Часа
		<span id="minutes">
			{{minutesToWeddingDay}}
		</span>
		Минути
		<span id="seconds">
			{{secondsToWeddingDay}}
		</span>
		Секунди
	</div>
</div>
