.wrapper{
    background-color: antiquewhite;
}

img {
    width: 100%;
    height: auto;
    align-items: center;
    margin: 50px 0;
}

.info {
    margin: 20px;
    display: flex;
    flex-direction: row;
    .description{
        align-content: space-between;
        flex: 1 1 0px;
    }
    .description:first-child{
        margin-right: 30px;
    }
    p {
        white-space: pre-line;
    }
}


