.background {
  background-color: rgba(253, 248, 239, 0.553);
  height: 100%;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  align-items: center;
  margin: 50px 0 30px 0;
}

.info {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  .description{
    align-content: space-between;
    flex: 1 0 250px;
  }

  .description:first-child{
    margin-right: 30px;
  }

  p {
    white-space: pre-line;
  }
}


