<div class="wrapper">

	<div>
		<mat-form-field>
			<div>
				<mat-toolbar>
					<input [value]="fileName"
						matInput
						class="inputFile">

					<button [disabled]="!selectedImages"
						(click)="upload()"
						mat-flat-button
						color="primary"
						class="uploadBtn">
						Качете
					</button>
				</mat-toolbar>
				<input (change)="selectImage($event)"
					type="file"
					id="fileInput"
					name="fileInput"
					accept="image/"
					multiple>
			</div>
		</mat-form-field>

		<mat-toolbar *ngIf="currentImageUpload"
			class="progress-bar">
			<mat-progress-bar [value]="percentage"
				color="accent"></mat-progress-bar>
			<span class="progress">{{ percentage }}%</span>
		</mat-toolbar>

		<div>
			<img *ngFor='let preview of previews'
				[src]="preview"
				class="preview">
		</div>
	</div>

	<p-galleria *ngIf="imageUploads"
		[value]="imageUploads"
		[responsiveOptions]="responsiveOptions"
		[containerStyle]="{'max-width': '100%', 'margin-top':'2em'}"
		[numVisible]="200"
		[circular]="true"
		[showItemNavigators]="true"
		[showThumbnails]="false"
		[autoPlay]="true"
		[transitionInterval]="2000">
		<ng-template pTemplate="item"
			let-item>
			<img [src]="item.previewImageSrc"
				style="width: 100%; display: block;">
		</ng-template>
	</p-galleria>

</div>
