<div class="wrapper">

	<div>
		<mat-form-field>
			<div>
				<mat-toolbar>
					<input [formGroup]="form"
						[value]="fileName"
						matInput
						class="inputFile">

					<button [disabled]="!selectedImages"
						(click)="upload()"
						mat-flat-button
						color="primary"
						class="uploadBtn">
						Качете
					</button>
				</mat-toolbar>
				<input (change)="selectImage($event)"
					type="file"
					id="fileInput"
					name="fileInput"
					accept="image/"
					multiple>
			</div>
		</mat-form-field>

		<mat-toolbar *ngIf="currentImageUpload"
			class="progress-bar">
			<mat-progress-bar [value]="percentage"
				color="accent"></mat-progress-bar>
			<span class="progress">{{ percentage }}%</span>
		</mat-toolbar>
	</div>

	<h2 *ngIf="!imageUploads?.length">
		Още никои не е качил снимка. Можеш да бъди първият, който ще качи своята.
	</h2>

  <div class="gallery-wrapper">
    <p-galleria
      *ngIf="imageUploads"
      [value]="imageUploads"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{'margin-top':'2em' }"
      [numVisible]="200"
      [circular]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [autoPlay]="true"
      [transitionInterval]="2000"
      [showIndicators]="true"
      [changeItemOnIndicatorHover]="true"
      [showIndicatorsOnItem]="true">
      <ng-template pTemplate="item"
        let-item>
        <img [src]="item.previewImageSrc"
          style="display: block; max-height: 750px; object-fit: cover;">
      </ng-template>
    </p-galleria>
  </div>

</div>
