.uploadBtn {
    width: 250px;
    height: 45px;
    margin: 0 30px;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.inputFile {
    width: 500px;
}

.progress-bar {
    padding: 0;
}
.progress {
    width: 50px;
    height: 30px;
    align-items: center;
}

h2 {
    text-align: center;
}

#fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
}
.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
}
.mat-toolbar-single-row button {
    width: 100px;
}
.mat-form-field {
    width: 100%;
}
// .message {
//     background-color: #ddd;
//     padding: 15px;
//     color: #333;
//     border: #aaa solid 1px;
//     border-radius: 4px;
//     margin-bottom: 10px;
// }

@media screen and (max-width: 599px) {
    .inputFile {
        width: 400px;
    }
}
