.background {
  background-image: url("../../assets/alaska.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 1rem; // optional
    grid-row-gap: 1rem; // optional
}

.card {
    margin: 20px;
    -webkit-box-shadow: 7px 7px 19px 1px rgba(0, 0, 0, 0.73);
    box-shadow: 7px 7px 19px 1px rgba(0, 0, 0, 0.73);
    flex: 1 1 0px;
    background-color: rgba(228, 227, 227, 0.5);
    img {
        border-radius: 50%;
        object-fit: cover;
    }
    p {
        margin: 5px;
    }
}
