<div class="background">
	<div class="wrapper">
		<h1>
			На вашето внимание, КАПИТАНИТЕ  на корабът "Любов"
		</h1>
		<div class="container">
			<mat-card class="card">
				<mat-card-title-group>
					<mat-card-title>Визитката на</mat-card-title>
					<mat-card-subtitle>Булката</mat-card-subtitle>
					<mat-card-subtitle>
						<h2>Живка Йорданова</h2>
					</mat-card-subtitle>

					<img mat-card-xl-image
						src="../../assets/bride.jpg"
						alt="bride-image">
				</mat-card-title-group>

				<mat-card-content>
					<p>
						<b>Зодия:</b>
						Козирог
					</p>
					<p>
						<b>Любим цвят:</b>
						Розово
					</p>
					<p>
						<b>
							Каква искаше да станеш като дете:
						</b>
						Астронавт
					</p>
					<p>
						<b>Домашен любимец:</b>
						Йорки и Арчи
					</p>
					<p>
						<b>
							Какво не обичаш да ядеш:
						</b>
						Чушки и банани
					</p>
					<p>
						<b>
							Какво обичаш да пиеш:
						</b>
						Хубаво вино
					</p>
					<p>
						<b>
							Къде мечтаеш да отидеш:
						</b>
						В Тайланд, Япония, Африка
					</p>
					<p>
						<b>
							Кога се влюби в Алекс:
						</b>
						Когато осъзнах, че ме познава по-добре от самата мен 😍
					</p>
					<p>
						<b>
							Какво най-много харесваш в младоженеца:
						</b>
						Това, че винаги успява да ме разсмее.
					</p>
					<p>
						<b>
							Какво не харесваш в него:
						</b>
						Привързаността му към колата.
					</p>
					<p>
						<b>
							Какво те кара да се гордееш с Алекс:
						</b>
						Добротата му и готовността му винаги да помогне на някой изпаднал в беда.
					</p>
					<p>
						<b>
							Най-любимият ти спомен с него е:
						</b>
						Когато се показа иззад букета на летище София.
					</p>
					<p>
						<b>
							Коя песен описва най-добре любовната ви история:
						</b>
						Ed Sheeran - Perfect
					</p>
				</mat-card-content>
			</mat-card>

			<mat-card class="card">
				<mat-card-title-group>
					<mat-card-title>Визитката на</mat-card-title>
					<mat-card-subtitle>Младоженецът</mat-card-subtitle>
					<mat-card-subtitle>
						<h2>Александър Хальов</h2>
					</mat-card-subtitle>
					<img mat-card-xl-image
						src="../../assets/groom.jpg"
						alt="groom-image">
				</mat-card-title-group>
				<mat-card-content>
					<p>
						<b>Зодия:</b>
						Дева
					</p>
					<p>
						<b>Любим цвят:</b>
						Син
					</p>
					<p>
						<b>
							Какъв искаше да станеш като дете:
						</b>
						Голям
					</p>
					<p>
						<b>Домашен любимец:</b>
						Нямам
					</p>
					<p>
						<b>
							Какво не обичаш да ядеш:
						</b>
						Кокос и маслини
					</p>
					<p>
						<b>
							Какво обичаш да пиеш:
						</b>
						Вредни неща
					</p>
					<p>
						<b>
							Къде мечтаеш да отидеш:
						</b>
						Вегас като за начало
					</p>
					<p>
						<b>
							Кога се влюби в Живка:
						</b>
						Когато бяхме още деца 😊
					</p>
					<p>
						<b>
							Какво най-много харесваш в булката:
						</b>
						Усмивката й когато се буди до мен
					</p>
					<p>
						<b>
							Какво не харесвам в нея:
						</b>
						Опитите й да ме умори от жега при всяка една възможност
					</p>
					<p>
						<b>
							Какво те кара да се гордееш с Живка:
						</b>
						Амбицията й начина по който се справя с абсолютно всичко
					</p>
					<p>
						<b>
							Най-любимият ти спомен с нея е:
						</b>
						Момента, в който й обяснявах как чудеса не съществуват, докато съдбата беше твърдо решена да ми покаже обратното
					</p>
					<p>
						<b>
							Коя песен описва най-добре любовната ви история:
						</b>
						Ed Sheeren - Perfect
					</p>
				</mat-card-content>
			</mat-card>
		</div>

		<h1>
			И не по малко важни за това събитие ПОМОЩНИК КАПИТАНИТЕ
		</h1>

		<div class="container">
			<mat-card class="card">
				<mat-card-title-group>
					<mat-card-title>Визитката на</mat-card-title>
					<mat-card-subtitle>Кумата</mat-card-subtitle>
					<mat-card-subtitle>
						<h2>Йорданка Янкова</h2>
					</mat-card-subtitle>
					<img mat-card-xl-image
						src="../../assets/godmother.jpg"
						alt="godmother">
				</mat-card-title-group>
				<mat-card-content>
					<p>
						<b>Зодия:</b>
						Овен
					</p>
					<p>
						<b>Любим цвят:</b>
						Всички са ми любими 😀 ако трябва да бъда по-конкретна - черен.
					</p>
					<p>
						<b>
							Каква искаше да станеш като дете:
						</b>
						Балерина 🤗
					</p>
					<p>
						<b>Домашен любимец:</b>
						Златни рибки
					</p>
					<p>
						<b>
							Какво не обичаш да ядеш:
						</b>
						Морски деликатеси / Риба
					</p>
					<p>
						<b>
							Какво обичаш да пиеш:
						</b>
						Сладки питиета
					</p>
					<p>
						<b>
							Къде мечтаеш да отидеш:
						</b>
						На някой приказен остров
					</p>
					<p>
						<b>
							От кога познаваш младоженците:
						</b>
						От 5г. (не съм много сигурна)
					</p>
					<p>
						<b>
							Какво най-много харесваш в булката и младоженецът:
						</b>
						В булката - лъчезарна, чиста и ускренна усмивка 😊В младоженецът чувството му за хумор 😂
					</p>
					<p>
						<b>
							Какво не харесвам в тях:
						</b>
						Не мисля че има нещо, което не харесвам 🙄
					</p>
					<p>
						<b>
							Най-любимият ти спомен с младоженците:
						</b>
						Поканата за това да бъдем най-важните гости на техният сватбен ден. Остава най-хубавият ми спомен (поне до сватбата).
					</p>
					<p>
						<b>
							Какъв е твоят съвет към Живка и Алекс:
						</b>
						Да се обичат цял живот
						<span style="color: red;">
							<em>❤</em>
						</span>
					</p>
				</mat-card-content>
			</mat-card>

			<mat-card class="card">
				<mat-card-title-group>
					<mat-card-title>Визитката на</mat-card-title>
					<mat-card-subtitle>Кумът</mat-card-subtitle>
					<mat-card-subtitle>
						<h2>Найден Янков</h2>
					</mat-card-subtitle>
					<img mat-card-xl-image
						src="../../assets/godfather.jpg"
						alt="godfather">
				</mat-card-title-group>
				<mat-card-content>
					<p>
						<b>Зодия:</b>
						Везни
					</p>
					<p>
						<b>Любим цвят:</b>
						Бял
					</p>
					<p>
						<b>
							Какъв искаше да станеш като дете:
						</b>
						Футболист
					</p>
					<p>
						<b>Домашен любимец:</b>
						Нямам
					</p>
					<p>
						<b>
							Какво не обичаш да ядеш:
						</b>
						Кисело зеле
					</p>
					<p>
						<b>
							Какво обичаш да пиеш:
						</b>
						Огнена вода
					</p>
					<p>
						<b>
							Къде мечтаеш да отидеш:
						</b>
						Малдивите
					</p>
					<p>
						<b>
							От кога познаваш младоженците:
						</b>
						Младоженецът от дете, булката от достатъчно, за да я опозная.
					</p>
					<p>
						<b>
							Какво най-много харесваш в булката и младоженецът:
						</b>
						В булката - добрите дела. В младоженецът - чувството му за хумор.
					</p>
					<p>
						<b>
							Какво не харесвам в тях:
						</b>
						В булката не мисля, че не харесвам нещо, поне за сега 🙂 В младоженецът - катраненият му вкус към обувките 😆
					</p>
					<p>
						<b>
							Най-любимият ти спомен с младоженците:
						</b>
						28.01.2022 година. Това е датата от поканата да бъдем тяхни спътници в живота.
					</p>
					<p>
						<b>
							Какъв е твоят съвет към Живка и Алекс:
						</b>
						Безотказна ЛЮБОВ, мир и разбирателство.
					</p>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
