<div class="wrapper">
	<h1>
		На вашето внимание, КАПИТАНИТЕ  на корабът "Любов"
	</h1>
	<div class="container">
		<mat-card class="card">
			<mat-card-title-group>
				<mat-card-title>Визитката на</mat-card-title>
				<mat-card-subtitle>Булката</mat-card-subtitle>
				<mat-card-subtitle>
					<h2>Живка Йорданова</h2>
				</mat-card-subtitle>

				<img mat-card-xl-image
					src="../../assets/bride.jpg"
					alt="bride-image">
			</mat-card-title-group>

			<mat-card-content>
				<p>
					<b>Зодия:</b>
					Козирог
				</p>
				<p>
					<b>Любим цвят:</b>
					Розово
				</p>
				<p>
					<b>
						Каква искаше да станеш като дете:
					</b>
					Астронавт
				</p>
				<p>
					<b>Домашен любимец:</b>
					Йорки и Арчи
				</p>
				<p>
					<b>
						Какво не обичаш да ядеш:
					</b>
					чушки и банани
				</p>
				<p>
					<b>
						Какво обичаш да пиеш:
					</b>
					хубаво вино
				</p>
				<p>
					<b>
						Къде мечтаеш да отидеш:
					</b>
					в Тайланд, Япония, Африка
				</p>
				<p>
					<b>
						Кога се влюби в Алекс:
					</b>
					когато осъзнах, че ме познава по-добре от самата мен
				</p>
				<p>
					<b>
						Какво най-много харесваш в младоженеца:
					</b>
					това, че винаги успява да ме разсмее
				</p>
				<p>
					<b>
						Какво не харесваш в него:
					</b>
					привързаността му към колата
				</p>
				<p>
					<b>
						Какво те кара да се гордееш с Алекс:
					</b>
					добротата му и готовността му винаги да помогне на някой изпаднал в беда
				</p>
				<p>
					<b>
						Най-любимият ти спомен с него е:
					</b>
					когато се показа иззад букета на летище София
				</p>
				<p>
					<b>
						Коя песен описва най-добре любовната ви история:
					</b>
					Ed Sheeran - Perfect
				</p>
			</mat-card-content>
		</mat-card>

		<mat-card class="card">
			<mat-card-title-group>
				<mat-card-title>Визитката на</mat-card-title>
				<mat-card-subtitle>Младоженецът</mat-card-subtitle>
				<mat-card-subtitle>
					<h2>Александър Хальов</h2>
				</mat-card-subtitle>
				<img mat-card-xl-image
					src="../../assets/groom.jpg"
					alt="groom-image">
			</mat-card-title-group>
			<mat-card-content>
				<p>
					<b>Зодия:</b>
					Дева
				</p>
				<p>
					<b>Любим цвят:</b>
					Син
				</p>
				<p>
					<b>
						Какъв искаше да станеш като дете:
					</b>
					Голям
				</p>
				<p>
					<b>Домашен любимец:</b>
					Нямам
				</p>
				<p>
					<b>
						Какво не обичаш да ядеш:
					</b>
					кокос и маслини
				</p>
				<p>
					<b>
						Какво обичаш да пиеш:
					</b>
					вредни неща
				</p>
				<p>
					<b>
						Къде мечтаеш да отидеш:
					</b>
					Вегас като за начало
				</p>
				<p>
					<b>
						Кога се влюбих в Живка:
					</b>
					когато бяхме още деца :)
				</p>
				<p>
					<b>
						Какво най-много харесваш в булката:
					</b>
					усмивката й когато се буди до мен
				</p>
				<p>
					<b>
						Какво не харесвам в нея:
					</b>
					опитите й да ме умори от жега при всяка една възможност
				</p>
				<p>
					<b>
						Какво те кара да се гордееш с Живка:
					</b>
					амбицията й начина по който се справя с абсолютно всичко
				</p>
				<p>
					<b>
						Най-любимият ти спомен с нея е:
					</b>
					момента, в който й обяснявах как чудеса не съществуват, докато съдбата беще твърдо решена да ми покаже обратното
				</p>
				<p>
					<b>
						Коя песен описва най-добре любовната ви история:
					</b>
					Ed Sheeren - Perfect
				</p>
			</mat-card-content>
		</mat-card>
	</div>

	<h1>
		И не по малко важни за това събитие ПОМОЩНИК КАПИТАНИТЕ
	</h1>

	<div class="container">
		<mat-card class="card">
			<mat-card-title-group>
				<mat-card-title>Визитката на</mat-card-title>
				<mat-card-subtitle>Кумата</mat-card-subtitle>
				<mat-card-subtitle>
					<h2>Йорданка Янкова</h2>
				</mat-card-subtitle>
				<img mat-card-xl-image
					src
					alt="godmother">
			</mat-card-title-group>
			<mat-card-content>
				<p>
					<b>Зодия:</b>
	
				</p>
				<p>
					<b>Любим цвят:</b>
	
				</p>
				<p>
					<b>
						Каква искаше да станеш като дете:
					</b>
	
				</p>
				<p>
					<b>Домашен любимец:</b>
	
				</p>
				<p>
					<b>
						Какво не обичаш да ядеш:
					</b>
	
				</p>
				<p>
					<b>
						Какво обичаш да пиеш:
					</b>
	
				</p>
				<p>
					<b>
						Къде мечтаеш да отидеш:
					</b>
	
				</p>
				<p>
					<b>
						От кога познаваш младоженците:
					</b>
	
				</p>
				<p>
					<b>
						Какво най-много харесваш в булката и младоженецът:
					</b>
	
				</p>
				<p>
					<b>
						Какво не харесвам в тях:
					</b>
	
				</p>
				<p>
					<b>
						Най-любимият ти спомен с младоженците:
					</b>
	
				</p>
				<p>
					<b>
						Какъв е твоят съвет към Живка и Алекс:
					</b>
	
				</p>
			</mat-card-content>
		</mat-card>

		<mat-card class="card">
			<mat-card-title-group>
				<mat-card-title>Визитката на</mat-card-title>
				<mat-card-subtitle>Кумът</mat-card-subtitle>
				<mat-card-subtitle>
					<h2>Найден Янков</h2>
				</mat-card-subtitle>
				<img mat-card-xl-image
					src
					alt="godfather">
			</mat-card-title-group>
			<mat-card-content>
				<p>
					<b>Зодия:</b>
	
				</p>
				<p>
					<b>Любим цвят:</b>
	
				</p>
				<p>
					<b>
						Какъв искаше да станеш като дете:
					</b>
	
				</p>
				<p>
					<b>Домашен любимец:</b>
	
				</p>
				<p>
					<b>
						Какво не обичаш да ядеш:
					</b>
	
				</p>
				<p>
					<b>
						Какво обичаш да пиеш:
					</b>
	
				</p>
				<p>
					<b>
						Къде мечтаеш да отидеш:
					</b>
	
				</p>
				<p>
					<b>
						От кога познаваш младоженците:
					</b>
	
				</p>
				<p>
					<b>
						Какво най-много харесваш в булката и младоженецът:
					</b>
	
				</p>
				<p>
					<b>
						Какво не харесвам в тях:
					</b>
	
				</p>
				<p>
					<b>
						Най-любимият ти спомен с младоженците:
					</b>
	
				</p>
				<p>
					<b>
						Какъв е твоят съвет към Живка и Алекс:
					</b>
	
				</p>
			</mat-card-content>
		</mat-card>
	</div>
</div>
