.background {
    background-image: url("../../../../assets/hawaii.JPG");
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.add {
    margin: auto;
    display: flex;
    padding: 20px;
}

.card {
  margin: 20px;
  background-color: rgba(228, 227, 227, 0.7);
}

h2 {
  text-align: center;
}
