.wrapper {
    background-color: rgb(253, 244, 245);
}

h3 {
    text-align: center;
}

.charity-container {
  display: flex;
  margin: 20px 50px;
  text-align: justify;
  flex-wrap: wrap;
  justify-content: space-evenly;

  h4 {
    text-decoration: underline;
  }

  img {
    width: 300px;
    height: auto;
    margin: 25px;
  }

  .charity-description {
    flex: 1 0 250px;
  }

  // .charity-description:nth-child(1) {
  //   margin-right: 50px;

  //   @media screen and (max-width: 739px) {
  //     margin-right: 0;
  //   }
  // }

  // .charity-description:nth-child(2) {
  //   margin-left: 50px;

  //   // @media screen and (max-width: 739px) {
  //   //   margin-left: 0;
  //   // }
  // }
}
