<div class="wrapper">

	<h1>
		Благотворителни каузи
	</h1>
	<h3>
		Скъпи роднини и приятели, с най-мили чувства искаме да ви съобщим, че решихме за започнем нашият съвместен живот с благотворителни каузи.
	</h3>

    <div class="charity-container">
        <div class="charity-description">
            <h4>
                Вместо цветя
            </h4>
            <p>
                Това решение взехме много одавна още преди да заговорим дори за организирането на сватба. По неписана традиция, обикновенно на специален повод подаряваме цветя, но колкото и да са красиви те веднъж откъснати бързо повяхват. За това решихме да Ви помолим ако сте решили да вземете цвете за булката по-добре сложете предвидената за това сума в плик и го пуснете в нашата благотворителна кутия, която ще намерите в деня на сватбата. Тя ще е маркирана с отличителни белези, а каузата ще бъде оповестена на самият ден. Нека заедно зарадваме някой, който наистина има нужда от това.
            </p>

            <h3><b>ОЧВАКВАЙТЕ СКОРО...</b></h3>
        </div>
        <img src="../../assets/flowers.jpg" alt="presents">
    </div>

    <div class="charity-container">
        <img src="../../assets/presents.jpg" alt="presents">
        <div class="charity-description">
            <h4>
                Вместо подаръчета за гости
            </h4>
            <p>
                Преди да Ви запознаем с тази наша кауза бихме искали да Ви разкажем малко за това как започна всичко, от къде мина и какъв е развоят на събитията. В началото на организацията на този дългоочакван ден бяхме избрали подаръчетата си (които за момента ще запазим в тайна). Малък жест на благодарнсот, че сте до нас в този най-тържествен ден. Бяхме открили своят екип, който да изпълни желанията ни, но поради неблагопиятни обстоятелствата дамата, която пое този важен ангажимент пострада при злопоука и пострада много жестоко. Това доведо до необходимост да се потърсят специалисти по лицево-челюстна хирургия и пластични реконструкции в Израел. 
            </p>
            <p>
               Когато разбрахме за случилото се взехме решение да се откажем от подаръците и да дарим паричките предвидени за това за операцията на Петя. Малък жест, които да й помогнем да се усмихне отново и да се върне към нормалният начин на живот. 
            </p>
            <p>
                Броени дни преди сватбата получихме много добри новини, благодарствен имейл от Петя с който ни съобщи, че първата операция е минала успешно и тя се чувства много по-добре.
            </p>
            
            <a href="https://www.facebook.com/100063594881085/posts/379348794194947/">
                Ако искате да научите повече...
            </a>
        </div>
    </div>
</div>

