.logo {
    cursor: pointer;
  }

mat-toolbar {
    background-color: rgb(62, 62, 249);
    color: white;
}

mat-sidenav {
    margin: 10px;
    width: 280px;
    border-right: none;
    background-color: rgb(54, 54, 237);
    color: rgb(235, 199, 199);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;

    .menu-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: 1rem;

        &:hover,
        &:active {
            cursor: pointer;
            font-size: 110%;
        }
        mat-icon {
            margin-right: 8px;
        }
    }
}

mat-sidenav-content {
    // height: calc(100vh - 65px);

    .container {
        height: calc(100vh - 98px);
        margin: 16px;
        margin-left: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: lightblue;
        border-radius: 10px;
    }
}
