<mat-toolbar>
	<button *ngIf="sidenav.mode === 'over'"
		(click)="sidenav.toggle()"
		mat-icon-button>

		<mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
	</button>

	<span [routerLink]="['']"
		class="logo">
		AZwedding
	</span>

	<span class="example-spacer"></span>

	<p>С любезното съдействие на Марияна Найденова (Ментор)</p>

</mat-toolbar>

<mat-sidenav-container>
	<mat-sidenav #sidenav="matSidenav">
		<button [routerLink]="['newlyweds']"
			(click)="sidenav.toggle()"
			mat-button
			class="menu-button">
			<mat-icon>favorite</mat-icon>
			<span>
				Главни действащи лица
			</span>
		</button>

		<button [routerLink]="['wedding-itinerary']"
			(click)="sidenav.toggle()"
			mat-button
			class="menu-button">
			<mat-icon>directions_boat</mat-icon>
			<span>Сватбен маршрут</span>
		</button>

		<button [routerLink]="['team']"
			(click)="sidenav.toggle()"
			mat-button
			class="menu-button">
			<mat-icon>supervisor_account</mat-icon>
			<span>Екипът</span>
		</button>

		<button [routerLink]="['gallery']"
			(click)="sidenav.toggle()"
			mat-button
			class="menu-button">
			<mat-icon>photo_library</mat-icon>
			<span>Галерия</span>
		</button>

		<button [routerLink]="['recipes-for-happy-marriage']"
			(click)="sidenav.toggle()"
			mat-button
			class="menu-button">
			<mat-icon>local_library</mat-icon>
			<span>
				Координати за щастлив брак
			</span>
		</button>

		<button [routerLink]="['charity']"
			(click)="sidenav.toggle()"
			mat-button
			class="menu-button">
			<mat-icon>local_florist</mat-icon>
			<span>
				Благотворителна кауза
			</span>
		</button>
	</mat-sidenav>

	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
