.background {
  background-image: url("../../../../assets/sydney.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  text-align: center;
  margin: 20px;
  padding: 30px;
}

.recipe-add-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .recipe {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
  }
}

.mobile-label {
  display: none;
  font-size: 12px;
  font-weight: 500;
}

.desktop-label {
  display: block;
}

@media screen and (max-width: 599px) {
  .mat-card-xl-image {
    width: 150px !important;
    height: 150px !important;
  }

  .mobile-label {
    display: block;
  }

  .desktop-label {
    display: none;
  }
}
