<div class="background">
	<div class="wrapper recipe-add-wrapper">
		<h2>
			Оставете своите координати за щастлив брак тук:
		</h2>

    <form [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="recipe">

      <span class="mobile-label">Казвам се</span>
      <mat-form-field appearance="fill">
        <mat-label class="desktop-label">
          <b>Казвам се</b>
        </mat-label>
        <textarea
          matInput
          type="text"
          formControlName="guestName">
        </textarea>
      </mat-form-field>

      <span class="mobile-label">Познавам младоженците от</span>
      <mat-form-field appearance="fill">
        <mat-label class="desktop-label">
          <b>
            Познавам младоженците от
          </b>
        </mat-label>
        <textarea
          matInput
          type="text"
          formControlName="iKnow">
        </textarea>
      </mat-form-field>

      <span class="mobile-label">Когато разбрах, че Алекс и Живка ще се женят, първото нещо, което ми дойде на ум беше</span>
      <mat-form-field appearance="fill">
        <mat-label class="desktop-label">
          <b>
            Когато разбрах, че Алекс и Живка ще се женят, първото нещо, което ми дойде на ум беше
          </b>
        </mat-label>
        <textarea
          matInput
          type="text"
          formControlName="whenIUnderstood">
        </textarea>
      </mat-form-field>

      <span class="mobile-label">Най-лудият ми спомен с булката/младоженеца е</span>
      <mat-form-field appearance="fill">
        <mat-label class="desktop-label">
          <b>
            Най-лудият ми спомен с булката/младоженеца е
          </b>
        </mat-label>
        <textarea
          matInput
          type="text"
          formControlName="memory">
        </textarea>
      </mat-form-field>

      <span class="mobile-label">Като експерт в любовта, моят съвет е</span>
      <mat-form-field appearance="fill">
        <mat-label class="desktop-label">
          <b>
            Като експерт в любовта, моят съвет е
          </b>
        </mat-label>
        <textarea matInput
          type="text"
          formControlName="expert"></textarea>
      </mat-form-field>

      <span class="mobile-label">През медецият месец задължително трябва</span>
      <mat-form-field appearance="fill">
        <mat-label class="desktop-label">
          <b>
            През медецият месец задължително трябва
          </b>
        </mat-label>
        <textarea matInput
          type="text"
          formControlName="honeymoon"></textarea>
      </mat-form-field>

      <span class="mobile-label">А за дълъг семеен живот</span>
      <mat-form-field appearance="fill">
        <mat-label class="desktop-label">
          <b>
            А за дълъг семеен живот
          </b>
        </mat-label>
        <textarea matInput
          type="text"
          formControlName="happyEverAfter"></textarea>
      </mat-form-field>

      <span class="mobile-label">След <em>10 години</em> надявам се, че двамата ще</span>
      <mat-form-field appearance="fill">
        <mat-label class="desktop-label">
          <b>
            След <em>10 години</em> надявам се, че двамата ще
          </b>
        </mat-label>
        <textarea matInput
          type="text"
          formControlName="afterYears"></textarea>
      </mat-form-field>

      <button [disabled]="!form.valid"
        mat-flat-button
        color="primary"
        class="submit-btn"
        type="submit">
        Запази рецептата си
      </button>
    </form>
	</div>
</div>
