.background {
    background-image: url("../../../../assets/sydney.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe {
    width: 800px;
}

h2 {
    text-align: center;
    margin: 20px;
    padding: 30px;
}

.recipe {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
}
