/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: 'Philosopher', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 20px;
  // nav-bar(64px height) and footer(64px height)
  min-height: calc(100vh - 2 * 64px);

  h1 {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 599px) {
  .mat-card-xl-image {
    width: 150px !important;
    height: 150px !important;
  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 64px !important;
  }
}
