<div class="background">
	<div class="wrapper">

		<h1>
			Екипът, които ще ни помогне да превърнем нашият мечтан сватбен ден в реалност
		</h1>
		<p>
			Всеки един от тях е избор от първа среща. Бяха до нас през целия процес по организацията на това събитие и помагаха със съвети и приятелско отношение. Доверяваме им се безрезервно, че сме се оставили в най-добрите ръце в бранша.
		</p>

		<div class="container">
			<div *ngFor="let team of teams"
				class="card">
				<h3 class="title">{{ team.title }}</h3>
				<h2>{{ team.name }}</h2>
				<h3>{{ team.company }}</h3>
				<div class="bar">
					<div class="emptybar"></div>
					<div class="filledbar"></div>
				</div>
				<div class="description">
					<p>
						{{ team.description }}
					</p>
					<div class="icon">
						<a href="{{ team.socialMedia }}" target="_blank">
							<mat-icon>facebook</mat-icon>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
